body{
    background-image: url(../images/bg.png);
}
#content{
    margin-left:10%;
    margin-right: 10%;
    margin-top:2%;
    color:white;
    text-align:center;
}

#content img{
    width:140px;
}

#content .table{
    margin-top:5%;
    width:100%;  
}

div.myForm{
    width:400px;
}